*.olean
*.json
*.bbl
decls.pickle
decls.yaml
/_target
/leanpkg.path
print/
web/
doc/blueprint.aux
doc/blueprint.bbl
doc/blueprint.blg
doc/blueprint.log
doc/blueprint.out
doc/blueprint.pdf
doc/blueprint.synctex.gz
doc/blueprint.toc
doc/.content.tex.kate-swp